/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/


html,body,.wrappe{
    overflow: hidden;
}

.wrappe{
    display: flex;
    width: 100%;
    height: 100vh;
    flex-direction: column;
}

.header{
    padding :5px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 60px;
    background-color: cornflowerblue;
    overflow: unset;
}

.conteiner_logo{
    background: rgb(104, 103, 103);
    padding: 10px 100px;
    margin-bottom: 5px;
}

.user{
    display: flex;
    justify-content: space-around;
    
}

.user > p{
 margin-left: 10px;
}

.conteiner{
    display: flex;
    width: 100%;
    max-height: 100%;
}



.menu{
    position: static;
    display: flex;
    width: 250px;
    min-height:calc(100vh - 100px);
    flex-direction: row;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    box-shadow: 1px 10px 10px ;
}

.content{
    display: flex;
    padding-left: 20px;
    width: 100%;
    max-height: 100%;
    overflow: hidden;
}

.content_conteiner{
    flex-direction: column;
    display: flex;
    width: 100%;
    max-height:calc(100vh - 70px);
    overflow: scroll;
    overflow-x: hidden;
    z-index: 10;
}



.footer{
    position: relative;
    display: flex;
    align-items: center;
    height: 40px;
    margin-top: auto;
    background-color: rgb(129, 128, 128);
    z-index: 200;
}